# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 2.1

# üèÉ‚Äç‚ôÇÔ∏èü§∏‚Äç‚ôÇÔ∏èüèãÔ∏è‚Äç‚ôÄÔ∏è 
–°–µ–≥–æ–¥–Ω—è —Ç—ã –∞–Ω–∞–ª–∏—Ç–∏–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ–π —Å–µ—Ç–∏ —Ñ–∏—Ç–Ω–µ—Å-–∫–ª—É–±–æ–≤, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–µ–¥–ª–∞–≥–∞–µ—Ç —Ç—Ä–∏ –≤–∏–¥–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –¥–ª—è –≤–∑—Ä–æ—Å–ª—ã—Ö –∏ –¥–µ—Ç–µ–π:
- –û–±—ã—á–Ω–æ–µ –∑–∞–Ω—è—Ç–∏–µ –≤ –∑–∞–ª–µ,
- –°–∞–π–∫–ª–∏–Ω–≥ (–∫–∞—Ä–¥–∏–æ—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ –Ω–∞ –≤–µ–ª–æ—Ç—Ä–µ–Ω–∞–∂—ë—Ä–µ),
- –§—É–Ω–∫—Ü–∏–æ–Ω–∞–ª—å–Ω–∞—è —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞.

–ü–µ—Ä–≤–∞—è —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ –≤ –Ω–∞—à–∏—Ö –∫–ª—É–±–∞—Ö –≤—Å–µ–≥–¥–∞ –±–µ—Å–ø–ª–∞—Ç–Ω–∞—è.

–¢–µ–±–µ –¥–æ—Å—Ç—É–ø–Ω–∞ –≤—ã–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö:
- –û –Ω–∞—à–∏—Ö –∫–ª–∏–µ–Ω—Ç–∞—Ö ‚Äî `users_hw.xlsx`,

- –û–± –æ–ø–ª–∞—Ç–∞—Ö —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ ‚Äî `payments_hw.xlsx`,

- –û –ø–æ—Å–µ—â–µ–Ω–∏–∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ ‚Äî `workouts_hw.csv`. 

–ù–∞ –¥–≤–æ—Ä–µ –∫–æ–Ω–µ—Ü 2020 –≥–æ–¥–∞ ‚Äî –≤—Ä–µ–º—è —Å—Ç—Ä–∞—Ç–µ–≥–∏—á–µ—Å–∫–æ–≥–æ –ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–∏—è üéØ. –ö —Ç–µ–±–µ –ø—Ä–∏—à–µ–ª –¥–∏—Ä–µ–∫—Ç–æ—Ä –Ω–∞—à–µ–π —Å–µ—Ç–∏ –∏ –ø–æ–ø—Ä–æ—Å–∏–ª –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∑–≤–æ–ª—è—Ç –±–æ–ª–µ–µ —Ç–æ—á–Ω–æ —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å –ø–ª–∞–Ω—ã –Ω–∞ —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥:

1. –ö–∞–∫ –∏–∑–º–µ–Ω—è–ª–∞—Å—å –µ–∂–µ–º–µ—Å—è—á–Ω–∞—è –≤—ã—Ä—É—á–∫–∞ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–∏–ø—É —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –≤ —Ç–µ—á–µ–Ω–∏–µ 2020 –≥–æ–¥–∞?
2. –ö–∞–∫–∏–µ —Ç—Ä–µ–Ω–µ—Ä—ã –≤ —Å–µ—Ç–∏ –ø—Ä–æ–≤–µ–ª–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–ª–∞—Ç–Ω—ã—Ö –∑–∞–Ω—è—Ç–∏–π –∑–∞ –≤—Å–µ –≤—Ä–µ–º—è?
3. –°–∫–æ–ª—å–∫–æ –¥–µ–Ω–µ–≥ –∏ –∑–∞ –∫–∞–∫–∏–µ —Ç–∏–ø—ã —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø—Ä–∏–Ω–µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞—á–∞–ª–∏ –∑–∞–Ω–∏–º–∞—Ç—å—Å—è –≤ –Ω–æ—è–±—Ä–µ?
4. –ö–∞–∫–∏–µ —Ä–µ–≥–∏–æ–Ω—ã –ø—Ä–∏–Ω–æ—Å—è—Ç –Ω–∞—à–µ–π —Å–µ—Ç–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∏ –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –≤—ã—Ä—É—á–∫–∏? –†–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–µ–≥–∏–æ–Ω–æ–≤ –±—É–¥—É—Ç –æ–±—Å—É–∂–¥–∞—Ç—å—Å—è –Ω–∞ —Å–æ–≤–µ—Ç–µ –¥–∏—Ä–µ–∫—Ç–æ—Ä–æ–≤, –ø–æ—ç—Ç–æ–º—É –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–≥—Ä—É–∑–∏—Ç—å —ç—Ç–æ—Ç –æ—Ç—á–µ—Ç –≤ —Ñ–∞–π–ª —Ñ–æ—Ä–º–∞—Ç–∞ Excel, —á—Ç–æ–±—ã –≤–∫–ª—é—á–∏—Ç—å –µ–≥–æ –≤ —Ä–∞–∑–¥–∞—Ç–æ—á–Ω—ã–π –º–∞—Ç–µ—Ä–∏–∞–ª –¥–ª—è —Å–æ–≤–µ—â–∞–Ω–∏—è.

–í—ã–ø–æ–ª–Ω–∏–≤ —Å–ª–µ–¥—É—é—â–∏–µ —á–µ—Ç—ã—Ä–µ –∑–∞–¥–∞–Ω–∏—è, —Ç—ã —Å–º–æ–∂–µ—à—å –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤—Å–µ –≤–æ–ø—Ä–æ—Å—ã —Ä—É–∫–æ–≤–æ–¥–∏—Ç–µ–ª—è. –î–ª—è –Ω–∞—á–∞–ª–∞ —É–±–µ–¥–∏—Å—å, —á—Ç–æ —Ç—Ä–∏ –Ω–æ–≤—ã—Ö —Ñ–∞–π–ª–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ —Å–∫–∞—á–∞–Ω—ã –≤ –ø–∞–ø–∫—É —Å —ç—Ç–∏–º –Ω–æ—É—Ç–±—É–∫–æ–º, –∏–º–ø–æ—Ä—Ç–∏—Ä—É–π –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –∑–∞–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã.

In [1]:
import pandas as pd
from datetime import datetime

users = pd.read_excel("users_hw.xlsx") # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–ª–∏–µ–Ω—Ç–∞–º
payments = pd.read_excel("payments_hw.xlsx") # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –ø–ª–∞—Ç–µ–∂–∞–º
workouts = pd.read_csv("workouts_hw.csv") # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞–º

pd.set_option('display.float_format', lambda x: '%.2f' % x) # —ç—Ç–∞ —Å—Ç—Ä–æ–∫–∞ –ø–æ–º–æ–∂–µ—Ç —É–¥–æ–±–Ω–æ –≤—ã–≤–æ–¥–∏—Ç—å –±–æ–ª—å—à–∏–µ —á–∏—Å–ª–∞ –≤ —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ

## üßë‚Äçüíªüë©‚Äçüíª –õ–∞–π—Ñ—Ö–∞–∫ ‚Äì code style
–î–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã —Ä–∞–±–æ—Ç–∞—Ç—å —Å –∫–æ–¥–æ–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ, —Ä–∞–∑–±–∏–≤–∞–π —Ä–µ—à–µ–Ω–∏–µ –Ω–∞ –ª–æ–≥–∏—á–µ—Å–∫–∏–µ –±–ª–æ–∫–∏ –∏ —Ä–∞–∑–Ω–æ—Å–∏ –ø–æ —Ä–∞–∑–Ω—ã–º —è—á–µ–π–∫–∞–º. –¢–∞–∫ —Ç—ã —Å–º–æ–∂–µ—à—å –∑–∞–ø—É—Å–∫–∞—Ç—å —è—á–µ–π–∫–∏ –ø–æ –æ—Ç–¥–µ–ª—å–Ω–æ—Å—Ç–∏ –∏ —Å–º–æ—Ç—Ä–µ—Ç—å, –∫–∞–∫–æ–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤—ã–¥–∞–µ—Ç –∫–∞–∂–¥—ã–π –±–ª–æ–∫ –∫–æ–¥–∞.

## –ó–∞–¥–∞–Ω–∏–µ 1

–ü–æ–¥–≥–æ—Ç–æ–≤—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –≤–æ–ø—Ä–æ—Å: ¬´__–ö–∞–∫ –∏–∑–º–µ–Ω—è–ª–∞—Å—å –µ–∂–µ–º–µ—Å—è—á–Ω–∞—è –≤—ã—Ä—É—á–∫–∞ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–∏–ø—É —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –≤ —Ç–µ—á–µ–Ω–∏–µ 2020 –≥–æ–¥–∞?__¬ª. 

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å?

1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `payments` –∏ –¥–ª—è –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç `datetime`.

2. –° –ø–æ–º–æ—â—å—é —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –≤—ã–±–µ—Ä–∏ –ø–ª–∞—Ç–µ–∂–∏ —Ç–æ–ª—å–∫–æ –∑–∞ 2020 –≥–æ–¥.

3. –û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –ø–ª–∞—Ç–µ–∂–∏ —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ —Ä–∞–∑–Ω—ã—Ö –≤–∞–ª—é—Ç–∞—Ö ‚Äî –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –ø—Ä–∏–≤–µ–¥–µ–º –≤—Å–µ –∫ —Ä—É–±–ª—è–º. –°–Ω–∞—á–∞–ª–∞ –¥–æ–±–∞–≤—å –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å—Ç–æ–ª–±–µ—Ü `fx_rate` —Å –∫—É—Ä—Å–æ–º –≤–∞–ª—é—Ç—ã –∏ –∑–∞–ø–æ–ª–Ω–∏ –µ–≥–æ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `apply()`: –µ—Å–ª–∏ —ç—Ç–æ USD, —Ç–æ –±–µ—Ä–µ–º –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π `USD_RATE`, –µ—Å–ª–∏ RUR ‚Äî —Å—Ç–∞–≤–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ `1`. –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —Ä–µ–∞–ª–∏–∑—É–µ—Ç —ç—Ç—É –Ω–µ—Å–ª–æ–∂–Ω—É—é –ª–æ–≥–∏–∫—É.

4. –î–æ–±–∞–≤—å –µ—â–µ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü `amount_rub` —Å —Å—É–º–º–æ–π –ø–ª–∞—Ç–µ–∂–∞ –≤ —Ä—É–±–ª—è—Ö. –î–ª—è —ç—Ç–æ–≥–æ —É–º–Ω–æ–∂—å —Å—Ç–æ–ª–±–µ—Ü —Å —Å—É–º–º–æ–π –ø–ª–∞—Ç–µ–∂–∞ –Ω–∞ —Å—Ç–æ–ª–±–µ—Ü `fx_rate` —Å –∫—É—Ä—Å–æ–º –≤–∞–ª—é—Ç.

5. –ü–æ–ª—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –≤—ã—Ä—É—á–∫–∏ –ø–æ –º–µ—Å—è—Ü–∞–º –∏ –ø–æ —Ç–∏–ø–∞–º —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ —Å –ø–æ–º–æ—â—å—é –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ —Å —Å—É–º–º–æ–π –º–µ—Ç–æ–¥–æ–º `groupby()`. 

6. –í—ã–≤–µ–¥–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –Ω–∞ —ç–∫—Ä–∞–Ω.

ü§î *–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω–æ–º –∞–Ω–∞–ª–∏–∑–µ.* –ë–ª–∞–≥–æ–¥–∞—Ä—è –∫–∞–∫–∏–º —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞–º –∫–æ–º–ø–∞–Ω–∏—è –º–æ–∂–µ—Ç –ø–æ–ª—É—á–∞—Ç—å –±–æ–ª—å—à–µ –≤—ã—Ä—É—á–∫–∏? –£ —ç—Ç–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è –Ω–µ—Ç –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ –æ—Ç–≤–µ—Ç–∞, –º—ã –ª–∏—à—å –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º —Ç–µ–±–µ –ø–æ—Ä–∞–∑–º—ã—à–ª—è—Ç—å.

In [2]:
payments

         user_id    payment_id workout_type  amount payment_date currency
0      193433.00       3733.00      general 7522.49   06.04.2019      RUR
1      193433.00      12219.00      general 8346.04   08.05.2019      RUR
2      329226.00      13733.00      general 8707.38   08.09.2019      RUR
3      193433.00      14602.00      general 7432.49   12.04.2019      RUR
4      193433.00      14603.00      general  114.64   08.04.2019      RUR
...          ...           ...          ...     ...          ...      ...
20790 3301629.00    2931094.00      general 8358.33   12.05.2020      RUR
20791 4294927.00    2931391.00      general 8477.52   07.10.2020      RUR
20792 2181319.00    2931540.00      general 9409.41   22.03.2020      RUR
20793 5505898.00 1000012868.00      general 8918.91   02.03.2020      RUR
20794 2915674.00 1000022868.00      general 8103.84   06.06.2020      RUR

[20795 rows x 6 columns]

In [20]:
# 1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `payments` –∏ –¥–ª—è –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç `datetime`.

payments['payment_date'] = pd.to_datetime(payments['payment_date'])
payments

,user_id,payment_id,workout_type,amount,payment_date,currency,fx_rate,amount_rub
9435,2083165.00,2138681.00,general,8358.33,2020-01-30,RUR,1.00,8358.33
9436,1807292.00,2138712.00,general,8163.60,2020-08-18,RUR,1.00,8163.60
9437,3187806.00,2138734.00,general,8801.06,2020-12-10,RUR,1.00,8801.06
9438,1807292.00,2138805.00,general,7522.49,2020-08-20,RUR,1.00,7522.49
9439,1807690.00,2138846.00,general,8056.33,2020-05-22,RUR,1.00,8056.33
...,...,...,...,...,...,...,...,...
20790,3301629.00,2931094.00,general,8358.33,2020-12-05,RUR,1.00,8358.33
20791,4294927.00,2931391.00,general,8477.52,2020-07-10,RUR,1.00,8477.52
20792,2181319.00,2931540.00,general,9409.41,2020-03-22,RUR,1.00,9409.41
20793,5505898.00,1000012868.00,general,8918.91,2020-02-03,RUR,1.00,8918.91
20794,2915674.00,1000022868.00,general,8103.84,2020-06-06,RUR,1.00,8103.84

In [26]:
# 2. –° –ø–æ–º–æ—â—å—é —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –≤—ã–±–µ—Ä–∏ –ø–ª–∞—Ç–µ–∂–∏ —Ç–æ–ª—å–∫–æ –∑–∞ 2020 –≥–æ–¥.
payments = payments.query("'2020-01-01' <= payment_date < '2021-01-01'")
payments

,user_id,payment_id,workout_type,amount,payment_date,currency,fx_rate,amount_rub
9435,2083165.00,2138681.00,general,8358.33,2020-01-30,RUR,1.00,8358.33
9436,1807292.00,2138712.00,general,8163.60,2020-08-18,RUR,1.00,8163.60
9437,3187806.00,2138734.00,general,8801.06,2020-12-10,RUR,1.00,8801.06
9438,1807292.00,2138805.00,general,7522.49,2020-08-20,RUR,1.00,7522.49
9439,1807690.00,2138846.00,general,8056.33,2020-05-22,RUR,1.00,8056.33
...,...,...,...,...,...,...,...,...
20790,3301629.00,2931094.00,general,8358.33,2020-12-05,RUR,1.00,8358.33
20791,4294927.00,2931391.00,general,8477.52,2020-07-10,RUR,1.00,8477.52
20792,2181319.00,2931540.00,general,9409.41,2020-03-22,RUR,1.00,9409.41
20793,5505898.00,1000012868.00,general,8918.91,2020-02-03,RUR,1.00,8918.91
20794,2915674.00,1000022868.00,general,8103.84,2020-06-06,RUR,1.00,8103.84

In [17]:
# 3. –û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –ø–ª–∞—Ç–µ–∂–∏ —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ —Ä–∞–∑–Ω—ã—Ö –≤–∞–ª—é—Ç–∞—Ö ‚Äî –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –ø—Ä–∏–≤–µ–¥–µ–º –≤—Å–µ –∫ —Ä—É–±–ª—è–º. 

# –°–Ω–∞—á–∞–ª–∞ –¥–æ–±–∞–≤—å –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å—Ç–æ–ª–±–µ—Ü `fx_rate` —Å –∫—É—Ä—Å–æ–º –≤–∞–ª—é—Ç—ã –∏ –∑–∞–ø–æ–ª–Ω–∏ –µ–≥–æ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `apply()`: 
# –µ—Å–ª–∏ —ç—Ç–æ USD, —Ç–æ –±–µ—Ä–µ–º –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π `USD_RATE`, –µ—Å–ª–∏ RUR ‚Äî —Å—Ç–∞–≤–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ `1`. 
# –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —Ä–µ–∞–ª–∏–∑—É–µ—Ç —ç—Ç—É –Ω–µ—Å–ª–æ–∂–Ω—É—é –ª–æ–≥–∏–∫—É.
USD_RATE = 73.14 # –∫—É—Ä—Å –¥–æ–ª–ª–∞—Ä–∞

def map_currency(currency): # –æ–ø—Ä–µ–¥–µ–ª–∏ —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ fx_rate –º–µ—Ç–æ–¥–æ–º .apply()
    if currency == 'RUR':
        return 1
    elif currency == 'USD':
        return USD_RATE

payments['fx_rate'] = payments['currency'].apply(map_currency)

    
# Hint: groupby() –ø–æ–∑–≤–æ–ª—è–µ—Ç –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å —Å—Ä–∞–∑—É –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ø–æ–ª—è–º. –ï—Å–ª–∏ –Ω–µ –ø–æ–º–Ω–∏—à—å, –∫–∞–∫ –∏–º–µ–Ω–Ω–æ, —Å–º–µ–ª–æ —Å–º–æ—Ç—Ä–∏ —à–ø–∞—Ä–≥–∞–ª–∫—É.

In [18]:
# 4. –î–æ–±–∞–≤—å –µ—â–µ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü `amount_rub` —Å —Å—É–º–º–æ–π –ø–ª–∞—Ç–µ–∂–∞ –≤ —Ä—É–±–ª—è—Ö. 
# –î–ª—è —ç—Ç–æ–≥–æ —É–º–Ω–æ–∂—å —Å—Ç–æ–ª–±–µ—Ü —Å —Å—É–º–º–æ–π –ø–ª–∞—Ç–µ–∂–∞ –Ω–∞ —Å—Ç–æ–ª–±–µ—Ü `fx_rate` —Å –∫—É—Ä—Å–æ–º –≤–∞–ª—é—Ç.
payments['amount_rub'] = payments['fx_rate'] * payments['amount']
payments

,user_id,payment_id,workout_type,amount,payment_date,currency,fx_rate,amount_rub
9435,2083165.00,2138681.00,general,8358.33,2020-01-30,RUR,1.00,8358.33
9436,1807292.00,2138712.00,general,8163.60,2020-08-18,RUR,1.00,8163.60
9437,3187806.00,2138734.00,general,8801.06,2020-12-10,RUR,1.00,8801.06
9438,1807292.00,2138805.00,general,7522.49,2020-08-20,RUR,1.00,7522.49
9439,1807690.00,2138846.00,general,8056.33,2020-05-22,RUR,1.00,8056.33
...,...,...,...,...,...,...,...,...
20790,3301629.00,2931094.00,general,8358.33,2020-12-05,RUR,1.00,8358.33
20791,4294927.00,2931391.00,general,8477.52,2020-07-10,RUR,1.00,8477.52
20792,2181319.00,2931540.00,general,9409.41,2020-03-22,RUR,1.00,9409.41
20793,5505898.00,1000012868.00,general,8918.91,2020-02-03,RUR,1.00,8918.91
20794,2915674.00,1000022868.00,general,8103.84,2020-06-06,RUR,1.00,8103.84

In [34]:
# 5. –ü–æ–ª—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –≤—ã—Ä—É—á–∫–∏ –ø–æ –º–µ—Å—è—Ü–∞–º –∏ –ø–æ —Ç–∏–ø–∞–º —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ 
# —Å –ø–æ–º–æ—â—å—é –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ —Å —Å—É–º–º–æ–π –º–µ—Ç–æ–¥–æ–º `groupby()`.
# payments('amount_rub').groupby(payments['payment_date'].dt.month).nunique()
# data.groupby(lambda x: data['date'][x].year)

payments.groupby(['workout_type', ('payment_date')])['amount_rub'].sum()

workout_type  payment_date
cycling       2020-01-04        8468.47
              2020-01-06        9501.26
              2020-01-07         128.65
              2020-01-11         109.80
              2020-01-12        8689.78
                                ...
general       2020-12-07      825459.60
              2020-12-08      284761.61
              2020-12-09      786795.64
              2020-12-10     1025503.10
              2020-12-11      816737.93
Name: amount_rub, Length: 463, dtype: float64

## –ó–∞–¥–∞–Ω–∏–µ 2

–û–ø—Ä–µ–¥–µ–ª–∏, __–∫–∞–∫–æ–π —Ç—Ä–µ–Ω–µ—Ä –≤ —Å–µ—Ç–∏ –ø—Ä–æ–≤–µ–ª –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–ª–∞—Ç–Ω—ã—Ö –∑–∞–Ω—è—Ç–∏–π –∑–∞ –≤—Å–µ –≤—Ä–µ–º—è__. –° —Å–∞–º—ã–º–∏ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω—ã–º–∏ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞–º–∏ –º—ã –æ—Ä–≥–∞–Ω–∏–∑—É–µ–º –∏–Ω—Ç–µ—Ä–≤—å—é, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å, —á—Ç–æ –≤–ª–∏—è–µ—Ç –Ω–∞ –∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç.

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å? 

1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `workouts`.

2. –ò—Å–∫–ª—é—á–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Ç—Ä–µ–Ω–µ—Ä–æ–≤ –∏–∑ –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç–∞ `Sales`, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–∏ –ø—Ä–æ–≤–æ–¥—è—Ç —Ç–æ–ª—å–∫–æ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–µ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏, –∞ –Ω–∞–º –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã —Ç–æ–ª—å–∫–æ –ø–ª–∞—Ç–Ω—ã–µ –∑–∞–Ω—è—Ç–∏—è.

3. –°–¥–µ–ª–∞–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ `trainer_id` –∏ –≤—ã–≤–µ–¥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø–æ `workout_id`. 

4. –ù–∞–π–¥–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –∏ —Å–æ—Ö—Ä–∞–Ω–∏ –µ–≥–æ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `max_trainings`. –ù–µ –∑–∞–±—É–¥—å, —á—Ç–æ –ø–æ—Å–ª–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –≤ –ø—Ä–æ—à–ª–æ–º –ø—É–Ω–∫—Ç–µ, –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç–∞–ª —Å—Ç–æ–ª–±–µ—Ü `trainer_id`. –í–æ–∑–º–æ–∂–Ω–æ, —Ç–µ–±–µ –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∏–Ω–¥–µ–∫—Å—ã –≤ –∫–æ–ª–æ–Ω–∫–∏.

5. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω id —Ç—Ä–µ–Ω–µ—Ä–∞, —É –∫–æ—Ç–æ—Ä–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ —Ä–∞–≤–Ω–æ –∑–Ω–∞—á–µ–Ω–∏—é `max_trainings`. –¢—ã —É–∂–µ –∑–Ω–∞–µ—à—å –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ —Å—Ç—Ä–æ–∫–µ –ø–æ –∏–Ω–¥–µ–∫—Å—É, –µ—Å–ª–∏ —Å–æ–º–Ω–µ–≤–∞–µ—à—å—Å—è ‚Äì —Å–º–æ—Ç—Ä–∏ —à–ø–∞—Ä–≥–∞–ª–∫—É.

In [ ]:
workouts

In [ ]:
# –ù–µ –∑–∞–±—É–¥—å –ø–∏—Å–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–æ–¥—É, —á—Ç–æ–±—ã –Ω–∞—Å—Ç–∞–≤–Ω–∏–∫–∞–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å —Ç–≤–æ—é –ª–æ–≥–∏–∫—É

workouts = workouts.loc[workouts['trainer_department']!= 'Sales']

workouts

In [ ]:
# 3. –°–¥–µ–ª–∞–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ `trainer_id` –∏ –≤—ã–≤–µ–¥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø–æ `workout_id`. 
unique_workouts = workouts.groupby('trainer_id')['workout_id'].nunique()
unique_workouts

In [ ]:
# 4. –ù–∞–π–¥–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –∏ —Å–æ—Ö—Ä–∞–Ω–∏ –µ–≥–æ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `max_trainings`. –ù–µ –∑–∞–±—É–¥—å, —á—Ç–æ –ø–æ—Å–ª–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –≤ –ø—Ä–æ—à–ª–æ–º –ø—É–Ω–∫—Ç–µ, –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç–∞–ª —Å—Ç–æ–ª–±–µ—Ü `trainer_id`. –í–æ–∑–º–æ–∂–Ω–æ, —Ç–µ–±–µ –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∏–Ω–¥–µ–∫—Å—ã –≤ –∫–æ–ª–æ–Ω–∫–∏.
# unique_workouts.sort_values(by='date_diff')
max_trainings = unique_workouts.max()
id_max_trainings = unique_workouts.idxmax()

## –ó–∞–¥–∞–Ω–∏–µ 3

–ü–æ—Å—á–∏—Ç–∞–π, __—Å–∫–æ–ª—å–∫–æ –¥–µ–Ω–µ–≥ –∏ –∑–∞ –∫–∞–∫–∏–µ —Ç–∏–ø—ã —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø—Ä–∏–Ω–µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞—á–∞–ª–∏ –∑–∞–Ω–∏–º–∞—Ç—å—Å—è –≤ –Ω–æ—è–±—Ä–µ__.  

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å?

1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `users` –∏ –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç `datetime`.
2. –û—Ç–±–µ—Ä–∏ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫—Ç–æ –Ω–∞—á–∞–ª –∑–∞–Ω–∏–º–∞—Ç—å—Å—è —Å 1 –ø–æ 30 –Ω–æ—è–±—Ä—è 2020 –≥–æ–¥–∞, –∫–æ–¥ —É–∂–µ –≥–æ—Ç–æ–≤, –æ–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, –∫–∞–∫ –º–æ–∂–Ω–æ –ø–µ—Ä–µ–¥–∞—Ç—å —Å—Ä–∞–∑—É 2 —É—Å–ª–æ–≤–∏—è –≤ `loc[]`
3. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ–ª—É—á–∏–≤—à–∏–π—Å—è –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å –ø–ª–∞—Ç–µ–∂–∞–º–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `payments` –ø–æ `user_id`.

4. –°–≥—Ä—É–ø–ø–∏—Ä—É–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ `workout_type` –∏ –Ω–∞–π–¥–∏ —Å—É–º–º—É –ø–æ `amount_rub`.

In [ ]:
users

In [ ]:
users['free_workout_datetime'] = pd.to_datetime(users['free_workout_datetime'])  # –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç datetime
users['first_contact_datetime'] = pd.to_datetime(users['first_contact_datetime'])  # –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç datetime

november_users = users.loc[(users['free_workout_datetime']>=datetime(2020,11,1))   # –æ—Ç–æ–±—Ä–∞–ª–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫—Ç–æ –Ω–∞—á–∞–ª –∑–∞–Ω–∏–º–∞—Ç—å—Å—è —Å 1 –Ω–æ—è–±—Ä—è
                           &(users['free_workout_datetime']<datetime(2020,12,1))]  # –ø–æ 30 –Ω–æ—è–±—Ä—è 2020 –≥–æ–¥–∞

# –ù–µ –∑–∞–±—É–¥—å –ø–∏—Å–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–æ–¥—É, —á—Ç–æ–±—ã –Ω–∞—Å—Ç–∞–≤–Ω–∏–∫–∞–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å —Ç–≤–æ—é –ª–æ–≥–∏–∫—É

In [ ]:
# 3. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ–ª—É—á–∏–≤—à–∏–π—Å—è –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å –ø–ª–∞—Ç–µ–∂–∞–º–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `payments` –ø–æ `user_id`.

payments_users = pd.merge(workouts, payments,
                         how = 'inner',
                         left_on = 'client_id', right_on='user_id')
payments_users

In [ ]:
# 4. –°–≥—Ä—É–ø–ø–∏—Ä—É–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ `workout_type` –∏ –Ω–∞–π–¥–∏ —Å—É–º–º—É –ø–æ `amount_rub`.
payments_users.groupby('workout_type_x')['amount_rub'].sum()

## –ó–∞–¥–∞–Ω–∏–µ 4

–í—ã—è—Å–Ω–∏, **–∫–∞–∫–∏–µ —Ä–µ–≥–∏–æ–Ω—ã –ø—Ä–∏–Ω–æ—Å—è—Ç –Ω–∞—à–µ–π —Å–µ—Ç–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∏ –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –≤—ã—Ä—É—á–∫–∏**. 

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å

1. –°–æ–∑–¥–∞–π –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `user_regions` –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ `user_id` –∏ `region` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `users`.

2. –°–æ–∑–¥–∞–π –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `user_payments` –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ `user_id` –∏ `amount_rub` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `payments`.
3. C –ø–æ–º–æ—â—å—é `.merge()` –æ–±—ä–µ–¥–∏–Ω–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã `user_regions` –∏ `user_payments`
4. –û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —É –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –∑–∞–ø–æ–ª–Ω–µ–Ω —Ä–µ–≥–∏–æ–Ω. `dropna()` ‚Äî —Ö–æ—Ä–æ—à–∏–π –º–µ—Ç–æ–¥ –¥–ª—è –æ—á–∏—Å—Ç–∫–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞ –æ—Ç —Å—Ç—Ä–æ–∫, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ —Ö–≤–∞—Ç–∞–µ—Ç –∫–∞–∫–∏—Ö-—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–π.
5. –°–≥—Ä—É–ø–ø–∏—Ä—É–π –¥–∞–Ω–Ω—ã–µ –æ –≤—ã—Ä—É—á–∫–µ –ø–æ —Ä–µ–≥–∏–æ–Ω—É, –∞ –∑–∞—Ç–µ–º –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –∏—Ö.
6. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω —Ç–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –º–∞–ª–µ–Ω—å–∫–æ–π –≤—ã—Ä—É—á–∫–æ–π. 
7. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω —Ç–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –±–æ–ª—å—à–æ–π –≤—ã—Ä—É—á–∫–æ–π. 
8. –°–æ—Ö—Ä–∞–Ω–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Å–ø–∏—Å–æ–∫ —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å –≤—ã—Ä—É—á–∫–æ–π –≤ —Ñ–∞–π–ª `task_4.xlsx` —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `to_excel()`.

ü§î *–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω–æ–º –∞–Ω–∞–ª–∏–∑–µ.* –ö–∞–∫ —Å–µ–π—á–∞—Å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—è–µ—Ç—Å—è –≤—ã—Ä—É—á–∫–∞ –º–µ–∂–¥—É —Ä–µ–≥–∏–æ–Ω–∞–º–∏? –£ —ç—Ç–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è –Ω–µ—Ç –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ –æ—Ç–≤–µ—Ç–∞, –º—ã –ª–∏—à—å –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º —Ç–µ–±–µ –ø–æ—Ä–∞–∑–º—ã—à–ª—è—Ç—å.

In [6]:
# 1. –°–æ–∑–¥–∞–π –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `user_regions` –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ `user_id` –∏ `region` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `users`.

user_regions = users[['user_id', 'region']]
user_regions

      user_id                       region
0     2790000                          NaN
1      780106                          NaN
2     1133376                          NaN
3     1996499                          NaN
4       57899  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å
...       ...                          ...
4268  3481612  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å
4269  1720022          –°–∞—Ö–∞–ª–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å
4270   320154  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å
4271  1308708            –ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫–∏–π –∫—Ä–∞–π
4272  2939969           –†–µ—Å–ø—É–±–ª–∏–∫–∞ –ö–∞—Ä–µ–ª–∏—è

[4273 rows x 2 columns]

In [7]:
# 2. –°–æ–∑–¥–∞–π –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `user_payments` –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ `user_id` –∏ `amount_rub` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `payments`.
user_payments = payments[['user_id', 'amount_rub']]
user_payments

         user_id  amount_rub
9435  2083165.00     8358.33
9436  1807292.00     8163.60
9437  3187806.00     8801.06
9438  1807292.00     7522.49
9439  1807690.00     8056.33
...          ...         ...
20790 3301629.00     8358.33
20791 4294927.00     8477.52
20792 2181319.00     9409.41
20793 5505898.00     8918.91
20794 2915674.00     8103.84

[11360 rows x 2 columns]

In [8]:
# 3. C –ø–æ–º–æ—â—å—é `.merge()` –æ–±—ä–µ–¥–∏–Ω–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã `user_regions` –∏ `user_payments`
region_payments = pd.merge(user_regions, user_payments,
                         how = 'inner')
region_payments

      user_id                       region  amount_rub
0     2790000                          NaN     9216.76
1      780106                          NaN     8701.06
2      780106                          NaN     9316.76
3      780106                          NaN     9316.76
4      780106                          NaN     8701.06
...       ...                          ...         ...
5719   155166  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å    10195.46
5720   155166  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å    10195.46
5721  3481612  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å   688204.57
5722  3481612  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     9177.15
5723  1308708            –ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫–∏–π –∫—Ä–∞–π    10895.57

[5724 rows x 3 columns]

In [10]:
# 4. –û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —É –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –∑–∞–ø–æ–ª–Ω–µ–Ω —Ä–µ–≥–∏–æ–Ω. `dropna()` ‚Äî —Ö–æ—Ä–æ—à–∏–π –º–µ—Ç–æ–¥ –¥–ª—è –æ—á–∏—Å—Ç–∫–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞ –æ—Ç —Å—Ç—Ä–æ–∫, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ —Ö–≤–∞—Ç–∞–µ—Ç –∫–∞–∫–∏—Ö-—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–π.
region_payments.dropna()

      user_id                       region  amount_rub
7     4197252  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     8358.33
8     2201602  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     9909.90
9     3673802          –ß–µ–ª—è–±–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     9711.93
10    3673802          –ß–µ–ª—è–±–∏–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     9711.93
11    1398709  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     8759.56
...       ...                          ...         ...
5719   155166  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å    10195.46
5720   155166  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å    10195.46
5721  3481612  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å   688204.57
5722  3481612  –ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     9177.15
5723  1308708            –ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫–∏–π –∫—Ä–∞–π    10895.57

[5006 rows x 3 columns]

In [38]:
# 5. –°–≥—Ä—É–ø–ø–∏—Ä—É–π –¥–∞–Ω–Ω—ã–µ –æ –≤—ã—Ä—É—á–∫–µ –ø–æ —Ä–µ–≥–∏–æ–Ω—É, –∞ –∑–∞—Ç–µ–º –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –∏—Ö.
total_region_payments = region_payments.groupby('region')['amount_rub'].sum().sort_values()
total_region_payments

region
–ù–æ–≤–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                           634.18
–ö–∏—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                             9216.76
–ö–∞–º—á–∞—Ç—Å–∫–∏–π –∫—Ä–∞–π                               9711.93
–ö—É—Ä–≥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                           18297.08
–ê–º—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                             18378.68
                                              ...
–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                      2385276.78
–†–µ—Å–ø—É–±–ª–∏–∫–∞ –¢–∞—Ç–∞—Ä—Å—Ç–∞–Ω                       2695705.14
–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä—Å–∫–∏–π –∫—Ä–∞–π                         2808552.52
–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥ –∏ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å   15350134.26
–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å               71982122.40
Name: amount_rub, Length: 79, dtype: float64

In [40]:
# 6. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω —Ç–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –º–∞–ª–µ–Ω—å–∫–æ–π –≤—ã—Ä—É—á–∫–æ–π. 
total_region_payments.head(5)

region
–ù–æ–≤–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     634.18
–ö–∏—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å       9216.76
–ö–∞–º—á–∞—Ç—Å–∫–∏–π –∫—Ä–∞–π         9711.93
–ö—É—Ä–≥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     18297.08
–ê–º—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å       18378.68
Name: amount_rub, dtype: float64

In [9]:
# –ù–µ –∑–∞–±—É–¥—å –ø–∏—Å–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–æ–¥—É, —á—Ç–æ–±—ã –Ω–∞—Å—Ç–∞–≤–Ω–∏–∫–∞–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å —Ç–≤–æ—é –ª–æ–≥–∏–∫—É

# üéâüéâüéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, —Ç—ã –≤–µ–ª–∏–∫–æ–ª–µ–ø–µ–Ω!